body {
  margin: 0px;
  background-color: #ffffff;
  /* font-family: "Poppins", sans-serif; */
  font-size: 16px;
}

#zsiqwidget {
  display: none;
}

input,
select {
  width: 100%;
  display: block;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  color: #495057;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  border-radius: 0px;
  padding-left: 28px;
  background: #ffffff;
}

select {
  padding-left: 0.75rem;
}

textarea {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  outline: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.header_container {
  width: 100%;
  background-color: #ffffff;
}

.header.scrolled {
  top: -40px;
}

.top_bar {
  width: 100%;
  background: #6a6a6a;
}

.top_bar_container {
  width: 100%;
  height: 100%;
}

.top_bar_content {
  width: 100%;
  height: 40px;
}

ul.top_bar_contact_list {
  list-style: none;
  margin-bottom: 0px;
  padding: 0px;
}

.top_bar_contact_list li {
  display: inline-block;
  margin-right: 21px;
}

.top_bar_contact_list,
.top_bar_contact_list a {
  font-size: 14px;
  color: #FFFFFF;
  margin-left: 0px;
}

main .contenido-inicio {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgba(238, 238, 238, 0.16), rgba(253, 253, 253, 0.34)),
    url(../img/fondo-metal-bl.jpg);
  background-size: cover;
  padding: 30px 0 30px;
  margin-top: 112px;

  align-items: center;
}

main .contenido-web {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgba(238, 238, 238, 0.16), rgba(253, 253, 253, 0.34)),
    url(../img/fondo-metal-bl.jpg);
  background-size: cover;
  align-items: inherit;
  padding: 30px 0 30px;
  margin-top: 112px;
}

#inicio img {
  margin-bottom: 10px;
}

#nosotros {
  padding: 30px 0 30px;
  text-align: justify;
}

/* ------ row ------ */

main .segunda {
  padding-bottom: 40px;
}

/* ------ row ------ */

.inicial {
  text-align: right;
}

.enlace,
.enlace h5 {
  color: #fd7e14;
  cursor: pointer;
}

.enlace:hover,
.enlace h5:hover {
  color: #883500;
  text-decoration: none;
  cursor: pointer;
}

.link {
  color: #2f2f2f;
  cursor: pointer;
}

.link:hover {
  color: #fd7e14;
}

a,
a:hover,
a:visited,
a:active,
a:link {
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

h4,
h6 {
  color: #fd7e14;
  text-align: center;
}

b,
strong {
  font-weight: 500;
}

strong {
  color: #fd7e14;
}

.icon {
  margin-right: 5px;
  font-size: 12px;
}

.contenedor {
  max-width: 1280px;
  width: 90%;
  margin: auto;
}

.center-v {
  align-items: center;
}

.center-h {
  justify-content: center;
}

.menu {
  background-color: #fd7e14;
  min-height: 4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.menu ul {
  margin-top: 0;
  margin-bottom: 0rem;
  padding: 0px;
}

.sub-menu {
  border: 0px solid #fd7e14;
}

.sub-menu ul {
  margin-top: 0;
  margin-bottom: 0rem;
  padding: 0px;
}

.sub-menu .navbar {
  padding: 0px;
}

.sub-menu .nav-item a {
  color: #464646;
  text-decoration: none;
  cursor: pointer;
}

.sub-menu .nav-item a:hover {
  color: #fd7e14;
}

.logo {
  color: #fff;
  font-size: 20px;
}

.dropdown-menu {
  background-color: #fd7e14;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.5);
  border: 1px solid #ce6105;
  border-radius: 0px;
  padding: 0;
}

.dropdown-menu.show {
  width: 100%;
  width: 240px;
}

.menu-item {
  padding: 0.25rem 0.2rem;
  padding: 10px;
  margin: 0 auto;
  color: #fff;
}

.menu-item:focus,
.menu-item:hover,
.menu-item.active,
.menu-item:active {
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #883500;
}

.item.nav-item a.nav-link {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.item.nav-item a.nav-link:hover,
.navbar-light .navbar-nav .show>.nav-link {
  text-decoration: none;
  color: #883500;
  cursor: pointer;
}

/* -------- CONTENIDO DE LA WEB ------- */
.titular {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgba(189, 189, 189, 0.49), rgba(253, 253, 253, 0.91)),
    url(../assets/img/fondo-metal-bl.jpg);
  background-size: cover;
  margin-top: 108px;
}

#contenedor-titulo-flex {
  display: flex;
  justify-content: center;
  margin: 10.5vh 0;
  width: 100%;
  max-width: initial;
}

.contenedor-titulo {
  text-align: center;
  margin: 0 auto;
}

.contenedor-titulo h1 {
  font-size: 50px;
  color: #fd7e14;
  width: 60%;
  display: inline-block;
  margin: 0 0 20px;
}

.contenedor-titulo h2 {
  font-size: 20px;
  color: #666666;
}

.contenedor-titulo a,
#columnas a {
  font-size: 14px;
  color: #fff;
  background: #5cb8ff;
  padding: 14px 24px;
  width: 128px;
  display: inline-block;
  box-sizing: initial;
  text-align: center;
}

/* ------ PAGINA INICIO ------- */

.contenido-index {
  margin-top: 112px;
}

#main-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#call-to-action-2 {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#banner {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

#call-to-action-2 {
  background-color: #ef8903;
  padding: 5px 0;
}

#call-to-action-2 p {
  color: #fff;
  /* font-size: 15px; */
  padding: 10px 0;
}

.flex-control-paging li a {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ef8903;
  text-indent: 0px !important;
  font-size: 0px;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
  color: white !important;
}

.btn_idioma {
  background: transparent !important;
  color: #ef8903;
  border: 2px solid #ef8903;
  padding: 10px 20px;
  border-radius: 6px;
  margin: 15px 5px;
  display: inline-block;
  text-decoration: none !important;
  font-size: 14px;
  font-weight: 800;
}

.btn_idioma:hover {
  color: #6a6a6a;
  border: 2px solid #6a6a6a;
}

#content {
  position: relative;
  background: #fff;
  padding: 10px 0;
}

/* -- SECCIÓN UNO, DOS, TRES -- */

.bold {
  color: #fd7e14;
  font-weight: 500;
}

.texto {
  margin: 0 auto;
}

.info-producto {
  margin-bottom: 20px;
}

/* -------- INVERNADERO --------- */

#invernadero .contenido-texto {
  margin-bottom: 10px;
}

#invernadero .contenido-texto h5 {
  color: #fd7e14;
  text-align: inherit;
}

#invernadero .contenido-texto h6 {
  color: inherit;
  text-align: inherit;
}

#invernadero .contenido-texto ul {
  padding-left: 25px;
}

#invernadero .contenido-texto p {
  margin-bottom: 10px;
  text-align: inherit;
}

/* -------- FINANCIAMIENTO --------- */

#financiamiento .contenido-texto {
  margin-bottom: 10px;
}

#financiamiento .info-finan {
  text-align: right;
}

#financiamiento .tabla {
  width: 75%;
  margin: 0 auto;
  border: 1px solid #ffcc7e;
  /* border-top: none; */
}

#financiamiento tr:nth-child(2n+1) {
  background: #ffffff;
}

#financiamiento tr:nth-child(2n) {
  background: #F2F2F2;
}

#financiamiento tr.titulo-tabla th {
  background-color: #ef8903;
  color: #FFFFFF;
  text-align: center;
  padding: 3px;
}

#financiamiento tr.titulo td {
  background-color: #646464;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  width: auto;
}

#financiamiento td {
  font-weight: 400;
  width: auto;
  color: #404040;
  text-align: inherit;
  padding: 3px;
}

#financiamiento td.tipo-serie {
  text-align: center;
}

/* -------- NOTICIAS --------- */

.fecha {
  background-color: #646464;
  color: #FFFFFF;
  text-align: left;
  font-weight: 400;
  padding: 3px 15px;
  margin-bottom: 20px;
}

.card {
  margin-bottom: 15px;
  transition: all 0.25s ease-in;
  border: none;
  /* border-bottom: 5px solid transparent; */
}

.card:hover {
  transform: translateY(2px);
  border: none;
  border-bottom: 5px solid #fd7e14;
  box-shadow: 0px 2px 9px rgba(43, 42, 42, 0.69);
}

.card a {
  color: #212529;
}

.card-img {
  height: 180px;
}

.figura {
  height: 180px;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.imagen-not {
  background-position: center;
  background-size: cover;
  height: 100%;
  position: absolute;
  transition: all 0.3s ease;
}

.imagen-not:hover {
  transform: scale(1.25);
}

.card text {
  font-size: 1.4rem;
  text-anchor: middle;
}

.card-body {
  padding: .9rem;
}

.card-body p.card-text {
  text-align: initial;
}

.card-body p.card-text {
  text-align: initial;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#noticias h3 {
  color: #fd7e14;
  margin-bottom: 1rem;
}

#noticias .imagen {
  margin-bottom: 1rem;
}

#noticias .not-relacionada {
  height: 128px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

#noticias small {
  font-size: 70%;
}

/* ------ TESTIMONIALES ------ */

.arriba {
  width: 20px;
  height: 20px;
  background: #fd7e14;
  color: #FFFFFF;
  padding: 8px;
  font-size: 20px;
}

.arriba:hover {
  background: #883500;
  color: #FFFFFF;
}

/* ------ VIDEOTECA ------ */

#video-teca h6 {
  margin-top: 5px;
  margin-bottom: 0px;
}

/* ------ CTS SERVICIOS ------ */

#centro-servicio h4 {
  margin-bottom: .1rem;
  text-align: initial;
  color: #6a6a6a;
  padding-left: 15px;
}

#centro-servicio hr {
  margin-top: 0rem;
  margin-bottom: .5rem;
  border: 0;
  border-top: 2px solid rgba(106, 106, 106, 0.5);
}

.ciudades {
  margin-bottom: 20px;
}

#centro-servicio .modal-body .contenedor {
  width: 100%;
}

#centro-servicio .modal-content {
  border: none;
  border-radius: 0rem;
}

#centro-servicio .modal-header .close {
  padding: 0rem;
  margin: 0rem;
}

#centro-servicio .modal-header {
  padding: 0.5rem 1rem;
  border: 0;
  background: #fd7e14;
  color: #fff;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}

#centro-servicio table {
  width: 100%;
}

#centro-servicio tr {
  height: 35px;
}

.campo1 {
  color: #fd7e14;
  width: 20%;
}

.campo2 {
  width: 80%;
  /* padding: .1rem .2rem; */
  color: #6f6f6f;
  border-bottom: 1px solid #000;
  /* border-radius: 0px; */
  background: #ffffff;
  margin-bottom: 5px;
}

.btn-ciudad {
  background: transparent !important;
  color: #ef8903;
  border: 2px solid #ef8903;
  padding: 1px 5px;
  /* border-radius: 2px; */
  margin: 5px 0px;
  display: inline-block;
  text-decoration: none !important;
  text-align: initial;
  width: 100%;
}

.btn-ciudad:hover {
  color: #6a6a6a;
  border: 2px solid #6a6a6a;
  box-shadow: none;
}

.btn-ciudad:focus {
  box-shadow: none;
}

/* ------ GUIA videos ------ */

#videos-guia hr {
  margin-top: 0.7rem;
}

#videos-guia h4 {
  text-align: left;
  font-size: 17px;
  margin-bottom: 0px;
  margin-top: 5px;
}

#videos-guia .titulo-cap h4 {
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.titulo-cap {
  background-color: rgba(165, 160, 160, 0.2);
  border: 3px solid #ce6105;
  border-radius: 5px;
  padding: 60px 10px;
  text-align: center;
}

/* ------ TITULO TABLA ------ */

.imagen {
  text-align: center;
}

.video,
.content-mapa {
  padding-bottom: 20px;
}


/* -- SECCIÓN Columnas -- */

.columnas .contenedor-columnas .texto,
.columnas .contenedor-columnas .imagen {
  width: 40%;
}

#seis {
  margin-bottom: 40px;
}


/* ------ Productos ------ */

a.nav-link.active {
  color: #fd7e14;
}

.info-producto ul {
  list-style: none;
  padding: 0px;
}

.texto-prod {
  text-align: center;
}

.prod-info a {
  width: 100%;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  display: block;
}

.prod-info img {
  max-width: 100%;
}

.prod-info:hover {
  -webkit-box-shadow: 0 0px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  /* background: #fff; */
  -webkit-transition: all 800ms ease;
  -moz-transition: all 800ms ease;
  -ms-transition: all 800ms ease;
  -o-transition: all 800ms ease;
  transition: all 800ms ease;
}

.prod-texto {
  margin-top: 10px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}


/* ------ Elementos productos -------- */

.elementos-titulo {
  width: 70px;
  text-align: center;
  float: left;
}

.elementos-texto {
  float: left;
  width: 70%;
}

.elementos-texto p {
  bottom: 40px;
  padding: 0;
}

/* -------- MOTOCULTOR -------- */

.columnas-prod {
  width: 80%;
  margin: 0 auto;
}

.tract-lig-prod {
  width: 80%;
  margin: 0 auto;
}

.titulo-horizontal {
  display: none;
}

/* -------- TABLA --------- */

.content-titulo {
  margin-bottom: 10px;
  display: flex;
}

.info-producto .catalogo h5 {
  background: #fd7e14;
  color: #ffffff;
  text-align: center;
  margin: 0px;
  padding: 5px 0px;
  width: 100%;
  float: left;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.info-producto .catalogo .hp-fuerza {
  background: #464646;
}

.info-producto .catalogo .sub-title h3 {
  font-weight: 900;
  color: #acacac;
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 0px;
}

.info-producto .catalogo .sub-title {
  font-weight: 600;
  color: #464646;
  text-align: center;
}

.info-producto .catalogo table {
  width: 100%;
  margin-bottom: 10px;
}

.info-producto .catalogo td.model-cosecha:last-child {
  color: #fd7e14;
  font-weight: 600;
}

.info-producto .catalogo td:first-child {
  font-weight: 600;
  width: 140px;
}

.info-producto .catalogo td:last-child {
  text-align: right;
  color: #797979;
}

.info-producto .catalogo a {
  padding: 3px;
  background: #fd7e14;
  color: #ffffff;
  width: 50%;
  margin: 0 auto;
  border-radius: 0px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

.info-producto .catalogo a:hover {
  background: rgba(255, 255, 255, 0.67);
  color: #fd7e14;
  border: 1px solid #fd7e14;
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
}

.info-producto .catalogo .info-texto {
  color: #797979;
  margin-bottom: 10px;
  line-height: 1.4;
  list-style: none;
  padding-left: 0px;
}

/* ------ CONTACTO ------ */

#contacto h5 {
  color: #fd7e14;
}

.mapa {
  border: 3px solid #fd7e14;
  border-radius: 5px;
}

#contacto .form-contact {
  margin-bottom: 10px;
  position: relative;
}

.form-contact::before {
  font-family: "FontAwesome";
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: 15px;
  position: absolute;
  top: 11px;
  left: 10px;

}

.input_user::before {
  content: "\f007";
  z-index: 1;
}

.input_phone::before {
  content: "\f095";
  z-index: 1;
}

.input_mail::before {
  content: "\f1fa";
  z-index: 1;
}

.input_emp::before {
  content: "\f1ad";
  z-index: 1;
}

.btn-contacto {
  padding: 3px;
  background: #fd7e14;
  color: #ffffff;
  width: 50%;
  margin: 0 auto;
  border-radius: 0px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  border: 1px solid #fd7e14;
}

.btn-contacto:hover {
  background: rgba(255, 255, 255, 0.67);
  color: #883500;
  border: 1px solid #883500;
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
}


/* ------ COLUMNAS CATALOGO ------ */

.elementos-texto h5 {
  margin: 0px 0 5px 0;
  color: #7b7b7b;
}

.box2,
.box3 {
  padding-top: 10px;
}

.box3 .imagen img {
  width: 200px;
}

/* -- FOOTER -- */

footer {
  background: #2f2f2f;
  padding: 40px 0;
  text-align: center;
}

footer .contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer .redes img {
  margin: 0 40px;
  transform: rotate(0);
  transition: 0.4s;
  width: 30px;
}

footer .redes img:hover {
  transform: rotate(360deg);
  transition: 0.4s;
}

footer p {
  color: #fff;
  margin-bottom: 7px;
}

footer p:first-child {
  margin-top: 40px;
}

footer p:last-child {
  margin-top: 0px;
  margin-bottom: 10px;
}

footer .sub-footer {
  font-size: 10px;
  color: #ffffff;
}


/* ----------------- */

.map {
  display: none;
}


/* --------- Movil -------- */

@media (max-width: 480px) {
  .top_bar_contact_list li {
    margin-right: 8px;
  }

  .top_bar_contact_list li:last-child {
    margin-right: 0px;
  }

  .top_bar_contact_list,
  .top_bar_contact_list a {
    font-size: 12px;
  }

  .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.18);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 0px;
    margin: 0px;
  }

  .dropdown-menu.show {
    width: 100%;
  }

  .sub-menu ul {
    width: -webkit-fill-available;
    width: -moz-available;
  }

  .sub-menu .nav-item a {
    padding: .2rem 0rem;
  }

  #contenedor-titulo-flex {
    margin: 5vh 0;
  }

  .contenedor-titulo h1 {
    width: 100%;
    font-size: 40px;
  }

  .prod-info {
    margin-bottom: 10px;
  }

  .imagen img {
    width: 100%;
  }

  main .contenido-inicio {
    height: inherit;
    max-height: inherit;
    padding: 40px 0;
    display: block;
  }

  /* -------- MOTOCULTOR -------- */

  .columnas-prod {
    width: auto;
  }

  .titulo-horizontal {
    display: block;
  }

  .elementos-titulo {
    display: none;
  }

  .titulo-horizontal h1,
  .titulo-horizontal h5 {
    color: #fd7e14;
    font-weight: 600;
    display: block;
    margin-bottom: 0px;
  }

  .elementos-texto {
    padding: 0px 0 25px;
    float: none;
    width: 70%;
    margin: 0 auto;
  }

  /* ------ TRACTOR-LIGERO ------ */

  .tract-lig-prod {
    width: auto;
  }

  /* ------ titulo tabla ------ */
  .catalogo {
    padding-bottom: 20px;
  }

  .box3 .imagen img {
    width: auto;
  }

  /* ------- FINANCIAMIENTO ------- */
  #financiamiento .tabla {
    width: 100%;
  }

  /* ------ CTS SERVICIOS ------ */

  .ciudades {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  /* ------ Guia videos ------ */

  .titulo-cap {
    margin-bottom: 15px;
  }

}


/* -------- Monitor grande ---------- */

@media (min-width: 1441px) {}